alias hello='echo "Hello world"'
alias artisan='php /home/www/app/artisan'
alias tests='php /home/www/app/vendor/bin/phpunit'
alias clear_log='echo "" > /home/www/app/storage/logs/laravel.log'
alias clear_caches='rm -f /home/www/app/bootstrap/cache.php && artisan cache:clear'
alias tinker='php -d pcre.jit=0 /home/www/app/artisan tinker'
alias fresh='clear_caches && artisan queue:restart'
alias migrate='php artisan migrate'
alias routes='php artisan route:list && artisan api:routes'
alias cache='artisan optimize'
alias docs='artisan scribe:generate --force'
